.markdown {
    flex-grow: 1;
    .title {
        margin-inline: auto;
        width: fit-content;
        margin-top: 40px;
    }

    .content {
        & > ol {
            padding: 0;
        }
    }
}
