html * {
  opacity: 0;
}

html.wf-active *, 
html.wf-inactive * {
  opacity: 1;
	-webkit-transition: opacity 750ms ease-out;  
	-moz-transition: opacity 750ms ease-out; 
	-o-transition: opacity 750ms ease-out;  
	transition: opacity 750ms ease-out;  
}

body, html {
    margin: 0;
    background-color: #eeeeee;
    color: #111;
    font-family: 'Archivo', sans-serif;
    letter-spacing: -0.055rem;
    font-size: 12px;

    @media screen and (min-width: 375px) {
      font-size: 16px;
    }

}