$footer-logo-size: 20rem;

.footer {
    flex:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
        flex-direction: row;
    }

    &_wrapper {
        margin-top: 10rem;
        background-color: #000000;
    }

    & .footer__left-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-block: 32px;
        gap:32px;
        height: 100%;
        align-items: center;
        padding-inline: 20px;

        @media screen and (min-width: 640px) {
            padding-inline: 0;
        }


        & .footer__links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;

            & .link {
                color: white;
                text-decoration: none;

                &:hover {
                    color: #dddddd;
                }
            }
        }
    }

    & .footer__logo {
        width: $footer-logo-size;
    }

    & .footer__social {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-block: 2rem;
        justify-content: space-between;
        align-items: flex-start;

        & .footer__social-item {
            color: #ffffff;
            
            & img {
                margin-right: 0.5rem;
                width: 3rem;
                height: 3rem;
            }

            &>a {
                color: #ffffff;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                &:hover {
                    color: #dddddd;
                }
            }
        }
    }
}
